.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 790px;
  background-color: #f2f2f2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
