.oakely {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
