.footer {
  margin: 0;
  padding: 0;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
