.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page_margin_off {
  margin: 0;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  background-position: center;
  background-size: contain;
}
/* logo size */
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 183px;
  left: 64px;
}
/* logo for header */
.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  height: 32px;
  z-index: 10;
  top: 30px;
}

/* logo for footer */
.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  height: 35px;
}

/* main header h1 */
.header__title {
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bolder;
  z-index: 10
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 5;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 1;
}
/* cancelling default browser options */
 .content {
  margin: 0;
  padding: 0;
}
/* styles for description section */
.description {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  font-weight: normal;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bolder;
}
/* end of description section */
/* styles for digits section */
.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* title for a section */
.section-title {
  text-align: center;
  width: 60%;
  margin: 0 0 20px 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bolder;
  color: black;
}

/* modificator for dark theme title */
.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}
/* subtitle for a section */
.section-subtitle {
  margin: 0;
  text-align: center;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: black;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 100px;
  padding-left: 0;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}
/* reusable heading for a cell */
.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  color: black;
}

.table__heading_theme_dark {
  color: white;
}

/* reusable text for a cell */
.table__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  padding-top: 20px;
  color: black;
}

.table__text_theme_dark {
  color: white;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 790px;
  background-color: #f2f2f2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.feynman__title {
  margin-top: 100px;
  margin-bottom: 0;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bolder;
  color: black;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  margin-top: 70px;
  font-size: 36px;
  line-height: 51px;
  color: black;
  font-weight: normal;
  z-index: 3;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 5;
}

.kaufman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-origin: content-box;
  background-size: contain;
  z-index: -1;
}

.footer {
  margin: 0;
  padding: 0;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
/* footer flex-box */
.footer__columns {
  min-height: 250px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  justify-content: flex-start;
  margin-bottom: 16px;
}

.footer__column_content_social {
  justify-content: flex-start;
  margin-bottom: 16px;
}

.footer__column-heading {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}
/* flex-box: icon + media */
.footer__list-item {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: baseline;
  list-style-type: none;
}
