.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  vertical-align: top;
  margin-left: 48px;
  opacity: 1;
  transition: opacity .3s ease;
}

.khan__buy-link:hover {
  opacity: 0.3;
}
